Backend/node_modules
Backend/.env
Backend/package-lock.json


Frontend/.DS_Store
Frontend/build/
Frontend/*.pbxuser
Frontend/!default.pbxuser
Frontend/*.mode1v3
Frontend/!default.mode1v3
Frontend/*.mode2v3
Frontend/!default.mode2v3
Frontend/*.perspectivev3
Frontend/!default.perspectivev3
Frontend/xcuserdata
Frontend/*.xccheckout
Frontend/*.moved-aside
Frontend/DerivedData
Frontend/*.hmap
Frontend/*.ipa
Frontend/*.xcuserstate
Frontend/ios/.xcode.env.local
Frontend/build/
Frontend/.idea
Frontend/.gradle
Frontend/local.properties
Frontend/*.iml
Frontend/*.hprof
Frontend/.cxx/
Frontend/*.keystore
Frontend/!debug.keystore
Frontend/node_modules/
Frontend/npm-debug.log
Frontend/yarn-error.log
Frontend/**/fastlane/report.xml
Frontend/**/fastlane/Preview.html
Frontend/**/fastlane/screenshots
Frontend/**/fastlane/test_output
Frontend/*.jsbundle
Frontend/ios/Pods/
Frontend/vendor/bundle/
Frontend/.metro-health-check*
Frontend/coverage
